
@media (max-width:768px){

.container{
    flex-wrap:wrap;
}

.menu-toggle{
    display:block;
}

.navbar{
    display:none;
    flex-direction:column;
    width:100%;
    background:#0B3D91;
    margin-top:15px;
    padding:15px 0;
}

.navbar.show{
    display:flex;
}

.navbar a{
    padding:12px 20px;
}

.donate-btn{
    display:none;
}

.logo h2{
    font-size:18px;
}

.logo p{
    font-size:10px;
}

.hero h1{
    font-size:36px;
}

.hero p{
    font-size:18px;
}

.buttons{
    flex-direction:column;
}

section{
    padding:50px 20px;
}

.grid{
    grid-template-columns:1fr;
}

}
