@media (max-width:768px){

.container{
    flex-wrap:wrap;
    padding:12px 0;
}

.menu-toggle{
    display:block;
    font-size:34px;
}

.navbar{
    display:none;
    flex-direction:column;
    width:100%;
    background:#0B3D91;
    margin-top:15px;
    padding:15px 0;
    border-top:1px solid rgba(255,255,255,.2);
}

.navbar.show{
    display:flex;
}

.navbar a{
    padding:14px 20px;
    font-size:17px;
    text-align:center;
}

.donate-btn{
    display:none;
}

.logo img{
    width:50px;
    height:50px;
}

.logo h2{
    font-size:18px;
}

.logo p{
    font-size:10px;
}

.hero{
    min-height:100vh;
    padding:40px 20px;
}

.hero h1{
    font-size:42px;
    line-height:1.25;
}

.hero p{
    font-size:20px;
    line-height:1.7;
}

.buttons{
    flex-direction:column;
    gap:18px;
}

.buttons a{
    width:100%;
    max-width:320px;
    margin:auto;
    text-align:center;
}

section{
    padding:60px 20px;
}

section h2{
    font-size:32px;
}

.intro p{
    font-size:17px;
}
.welcome .container{

flex-direction:column;

text-align:center;

}

.welcome-text h2{

font-size:30px;

}

.welcome-text p{

text-align:left;

font-size:17px;

}

.welcome-image{

margin-top:30px;

}

.welcome-image img{

max-width:220px;

    }

    .vision-grid{

grid-template-columns:1fr;

}

.vision-box{

padding:25px;

}

.icon{

font-size:48px;

    }
    .stats-grid{
    grid-template-columns:1fr;
}

.stat-box h3{
    font-size:36px;
    }

    .why-grid{
    grid-template-columns:1fr;
}

.why-box{
    padding:25px;
}
    .updates-grid{

grid-template-columns:1fr;

    }
.grid{
    grid-template-columns:1fr;
    gap:20px;
}

.grid div{
    padding:30px;
}

.footer-container{
    grid-template-columns:1fr;
    text-align:center;
}

.footer-column ul{
    padding:0;
}

.footer-column ul li{
    list-style:none;
    }

.about-section .container,
.vision-mission .container{
    flex-direction:column;
    text-align:center;
}
